@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header {
  background-color: #343a40;
  color: white;
  padding: 15px;
  margin-bottom: 40px;
}
.task {
  margin-inline: auto;
  width: fit-content;
}
.task input {
  padding: 10px 15px;
  width: 600px;
  border-radius: 6px;
  border: 1px solid #e2e2e2;
  transition: 0.3s;
}
.task input:hover {
  border: 1px solid #5cb85c;
}
.task input:focus {
  outline: none;
}
.add {
  padding: 10px;
  border: none;
  background: #0077ff;
  color: white;
  border-radius: 6px;
}
.list {
  margin-top: 40px;
  margin-inline: auto;
  width: fit-content;
  background: red;
  color: white;
  border-radius: 6px;
  overflow: hidden;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 10px;
  width: 600px;
}
.success {
  background-color: #5cb85c;
}
.warning {
  background-color: #f0ad4e;
}
button {
  cursor: pointer;
}
.todo .manipulate-task button:first-child {
  padding: 10px;
  border: none;
  background: #0077ff;
  color: white;
  border-radius: 6px;
}
.done {
  padding: 10px;
  border: none;
  background: #0077ff;
  color: white;
  border-radius: 6px;
}
.delete {
  padding: 10px;
  border: none;
  background: #d9534f;
  color: white;
  border-radius: 6px;
}
.line-through {
  text-decoration: line-through;
}
